<h3>cVentas</h3>

@code {
    @page "/cVentas"



    @using Blazored.Toast.Services
    @using Blazored.Toast

    @inject IToastService toast



    <EditForm Model="Ventas" OnValidSubmit="BuscarVentas">
        <DataAnnotationsValidator />
        <div class="card ">
            <div class="card-header">
                <h3>Consulta de Ventas</h3>
            </div>

            <table class="table table-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th>Id:</th>
                        <th>Monto:</th>

                    </tr>
                </thead>
                <tbody class="bg-transparent">
                    @foreach (var item in Ventas)
                                                                                                            {
                    <tr>
                        <td>@item.VentaId</td>

                        <td>@item.Monto</td>

                    </tr>
                                                                                                            }
                </tbody>
            </table>
        </div>
    </EditForm>

    @code {
private List<Ventas> ventas = new List<Ventas>() { };


protected override void OnInitialized()
{
            Buscar();

}


private void Buscar()
{
            var encontrado = VentasBLL.GetList(c => true);
            if (encontrado != null)
                this.ventas = encontrado;
} }

}